/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define SYM 1
#define FUN 2
#define NAV 3

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			// ----------------------------------------------------------------------------------------------------------------------------------
			// |  TAB     |  W  |  L   |  R   |  B   |  Z   |                                      |  ;   |  Q   |  U    |  D   |  J  |   \     |
			// | CTRL/ESC |  S  |  H   |  N   |  T   |  ,   |                                      |  .   |  A   |  E    |  O   |  I  | '/RCTRL |
			// | LSHIFT   |  F  |  M   |  V   |  C   |  /   |                                      |  G   |  P   |  X    |  K   |  Y  | RSHIFT  |
			//                  | LCTL | LWIN |BKSP  | SPC  | LBKT  |  CAPS   |  | L SHIFT | RBKT  | TAB  | BSPC | R-ALT | MENU |
			//                                              | MO 3  |  MO 2   |  |   TAB   | SPACE |
			label = "Def";
			bindings = <
				&kp TAB       &kp W  &kp L      &kp R     &kp B     &kp Z                                                      &kp SEMI &kp Q     &kp U      &kp D     &kp J     &kp BSLH
				&mt LCTRL ESC &kp S  &kp H      &kp N     &kp T     &kp COMMA                                                  &kp DOT  &kp A     &kp E      &kp O     &kp I     &mt RCTL SQT
				&kp LSHFT     &kp F  &kp M      &kp V     &kp C     &kp FLSH                                                   &kp G    &kp P     &kp X      &kp K     &kp Y     &kp RSHIFT
							         &kp LALT   &kp LWIN  &kp BSPC  &kp SPACE  &kp LBKT  &kp CAPS         &kp LSHFT  &kp RBKT  &kp RET  &kp RALT  &kp RWIN   &kp K_APP
														     			 	   &mo NAV   &mo FUN          &kp TAB    &mo SYM   
			>;
		};

        // I want a one handed layer that I can switch to
        // I want a one handed number layer
        // I really want a screen on the dactyl manuform

		sym_layer {
			// ----------------------------------------------------------------------------------------------------------------------------------
			// | ` | 1 | 2 | 3 | 4   | 5 |                  | 6 | 7 | 8 | 9 | 0 | = |
		    // | ~ | ! | @ | # | $   | % |                  | ^ | & | * | ( | ) | + |
			// | | | \ | : | ; | -   | [ |                  | ] | _ | , | . | / | ? |
			//         | - | - | DEL | - | { |      | - | } | - | - | - | - |
			//                       | - | - |      | - | - |
			label = "Sym";
			bindings = <
				&kp GRAVE  &kp N1     &kp N2     &kp N3      &kp N4      &kp N5                                               &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &kp EQUAL 
				&kp TILDE  &kp EXCL   &kp AT     &kp POUND   &kp DLLR    &kp PRCNT                                            &kp CARET  &kp AMPS   &kp STAR   &kp LPAR  &kp RPAR  &kp PLUS 
				&kp PIPE   &kp BSLH   &kp COLON  &kp SEMI    &kp MINUS   &kp LBKT                                             &kp RBKT   &kp UNDER  &kp COMMA  &kp DOT   &kp FLSH  &kp QMARK 
						              &none      &none       &kp DEL     &none      &kp LBRC  &trans       &trans   &kp RBRC  &none      &none      &none       &none 
				                                                                    &trans    &trans       &trans   &trans 
			>;
		};

		fun_layer {
			// ----------------------------------------------------------------------------------------------------------------------------------
			// | - | F9 | F10 | F11 | F12 | - |                  | - | -       | -      | -     | -     | - |
			// | - | F5 | F6  | F7  | F8  | - |                  | - | R-SHIFT | R-CTRL | R-ALT | R-GUI | - |
			// | - | F1 | F2  | F3  | F4  | - |                  | - | -       | -      | -     | -     | - |
			//          |  -  |  -  |  -  | - | - |      | - | - | - | -       | -      | -     |
			//                            | - | - |      | - | - |
			label = "Fun";
			bindings = <
				&none   &kp F9  &kp F10 &kp F11 &kp F12 &none                                          &none  &none      &none      &none     &none     &none 
				&none   &kp F5  &kp F6  &kp F7  &kp F8  &none                                          &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RWIN  &none 
				&none   &kp F1  &kp F2  &kp F3  &kp F4  &none                                          &none  &none      &none      &none     &none     &none 
				                &none   &none   &none   &none   &trans   &trans       &trans   &trans  &none  &none      &none      &none 
				                                                &trans   &trans       &trans   &trans
			>;
		};
		nav_layer {
			// ----------------------------------------------------------------------------------------------------------------------------------
			// | - | -     | -     | -     | -      | - |                  | PGUP  | HOME  | UP    | END   | M-VOL_UP | DEL  |
			// | - | L-GUI | L-ALT | L-CTL | L-SHFT | - |                  | PGDN  | LEFT  | DN    | RIGHT | M-VOL_DN | INS  |
			// | - | -     | -     | -     | -      | - |                  | PAUSE | M-PRV | M-PLY | M_NXT | M-MUTE   | PSCR |
			//             | -     | -     | -      | - | - |      | - | - | -     | -     | -     | -     |
			//                                      | - | - |      | - | - |
			label = "Nav";
			bindings = <
				&none   &none     &none     &none      &none      &none                                          &kp PG_UP        &kp HOME    &kp UP    &kp END     &kp K_VOL_UP  &kp DEL 
				&none   &kp LWIN  &kp LALT  &kp LCTRL  &kp LSHFT  &none                                          &kp PG_DN        &kp LEFT    &kp DOWN  &kp RIGHT   &kp K_VOL_DN  &kp INS 
				&none   &none     &none     &none      &none      &none                                          &kp PAUSE_BREAK  &kp K_PREV  &kp K_PP  &kp K_NEXT  &kp K_MUTE    &kp PSCRN
				                  &none     &none      &none      &none   &trans   &trans       &trans   &trans  &none            &none       &none     &none 
				                                                          &trans   &trans       &trans   &trans
			>;
		};

	};
};